.container {
  max-width: 1200px;
  margin: 0 auto;
}

.body {
  background: url("../assets/f9_feature.webp") #000 no-repeat center bottom;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
