<div class="header-holder">
  <div class="logo">
    <h1>Space-XYZ</h1>
  </div>
  <div class="menu">
    <ul>
      <li>
        <a routerLink="/" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
    </ul>
  </div>
</div>
