<div class="header-holder">
  <div class="logo">
    <h1>Space-XYZ</h1>
  </div>
  <div class="menu">
    <ul>
      <li *ngFor="let item of menu">
        <a
          href=""
          [title]="item?.attributes?.Title"
          (click)="onClick(item, $event)"
          >{{ item?.attributes?.Title }}</a
        >

        <!-- <a
          [routerLink]="item?.url"
          [queryParams]="{ id: item?.id }"
          routerLinkActive="active"
          [title]="item?.attributes?.Title"
          >{{ item?.attributes?.Title }}</a
        > -->
      </li>
      <!-- <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li>
      <li>
        <a routerLink="/first-component" routerLinkActive="active">link 1</a>
      </li> -->
    </ul>
  </div>
</div>
